/* Shared Styles */
*{
    padding: 0;
    margin: 0;
}
header{
    max-width: 1140px;
    margin: 0 auto; 
    margin-top: 30px;
}
.margin-all{
    margin-bottom: 100px;
}

.mid-text{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(120, 120, 133, 1);
}




.display-flex{
    display: flex;
}


.infulencer-logo h3{
    font-size: 1.25rem;
    font-weight: bold;
}


.head-parent{
    list-style: none;
    justify-content: space-between;
    
}
.logo-var{
    gap: 34px;
    
}
.logo-var li{
    color:#3A3A3A ;
    font-size: 1rem;
    font-weight: bold;
}

 /* Start journey section   */

.start-main{
    align-items: center;
    justify-content: center;
    gap: 133px;
    /* margin-bottom: 100px; */
    

}
.start-img-section{
    background-image: url(images/Circle\ design.svg);
} 

.section-heading{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 16px
}
.btn-primary{

    width: 196px;
    border: none;
    margin-top: 20px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
    gap: 8;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    background: rgba(224, 44, 109, 1);

}
/* logo-section */
.logo-section{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 61px;
    margin-bottom: 100px;
    margin-top: 100px;
    /* box-shadow:-10px 3px rgba(255, 255, 255, 1);; */
}


